.plus__quizz{
    text-align: center;
    svg{
        font-size: 2rem;
        color: green;
    }
}
.question{
    svg{
        font-size: 1.4rem;
        color: red;
        margin-right: .6rem;
    }
}
.quizz__container{
    margin: 4rem 0;
}
.edit__course{
}