.quizz{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.question {
    width: 70%;
    input{
        width: 100%;
        border-radius: 4px;
    }
}
.quizz{
    input {
        border-radius: 4px;
    }
}