.modal-dialog{
    margin-top: 100px;
}
.modal-header{
    border: none;

}
.modal-content{
    background-color:#fff;
    border-radius: 8px;
}
.modal-footer{
    border: none;
    justify-content: space-around;
 
    button{
        border-radius: 25px;
        min-width: 8rem;
    }
}
.modal-body {
    display: flex;
    flex-direction: column;
    input {
        border-radius: 25px;
        border: none;
        height: 2.5rem;
        outline: none;
        padding: 0 1rem;
        background-color:rgba($color: #000000, $alpha: 0.05) ;
        color: rgba($color: #000000, $alpha: .6);
        margin-bottom: 1.4rem;
    }
}