.recharge{
    display: flex;
    input {
        margin-bottom: 0;
        margin-right: 1rem;
    }
    label {
        margin: 0;
    }
    svg {
        color: orange;
        margin-right: .4rem;
    }
}